@model HomeViewModel


@await Html.PartialAsync("Carousel")

<center>

    <h2 style="color:white">Cartelera</h2>
    <h4 style="color:white">Peliculas disponibles en todas nuestras sucursales</h4>
</center>
<div class="row">

    @foreach (var hot in Model.Hotels)
    {
        @Html.Partial("AllHotels", hot)
    }

</div>


<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Proximamente en cartelera</h4>
        </div>
        <div class="modal-body">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ESLXnt6fe_8" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#miModal">
    Abrir modal
</button>
