<h1 style="color:white">@ViewBag.CheckoutCompleteMessage</h1>
<h2 style="color:white" >Recibirá un correo con los detalles de su orden.</h2>

<img style="width:200px; height:200px;" src="~/Images/yes-png-9.png" />