<h1 style="color:white">@ViewBag.CheckoutCompleteMessage</h1>
<h2 style="color:white" >Recibira en su email un mensaje con su facturación</h2>

<img style="width:200px; height:200px;" src="~/Images/yes-png-9.png" />