<!DOCTYPE html>
<!--Layout de todas las paginas-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Herrera Cinemas</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link  rel="stylesheet" href="~/lib/bootswatch/cosmo/bootstrap.css"/>
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script> 
        $(document).ready(function () {
            console.log("document loaded");
        });


    </script>

</head>
<body style="background-color:#282828">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <a class="navbar-brand" href="http://localhost:63245/">
                    <img src="~/Images/HerreraCinemas.png" />
                    </a>
                    <ul class="nav navbar-nav">
                        <li><a style="color:black;" asp-controller="Home" asp-action="Index">Inicio</a></li>

                        <li><a style="color:black;" asp-controller="Contact" asp-action="Index">Direccion</a></li>
                        <li><a style="color:black;" class="" data-toggle="modal" data-target="#miModal">Proximos estrenos</a></li>
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </ul>

            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <p class="lead">
                 
                </p>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>


<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function () {
        var widget_id = 'Uwv9UVoxrD'; var d = document; var w = window; function l() {
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/' + widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);
        } if (d.readyState == 'complete') { l(); } else { if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } }
    })();</script>
<!-- {/literal} END JIVOSITE CODE -->

